# =============================================
# React Native / Node
# =============================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# TypeScript
*.tsbuildinfo

# Env
.env
.env*.local

# macOS
.DS_Store

# Certificates / sensitive files
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision
*.orig.*


# =============================================
# Android
# =============================================
android/.gradle/
android/app/build/
android/build/
android/.idea/

# Do NOT ignore android/ folder (native code lives here)

# =============================================
# Metro
# =============================================
.metro-health-check*

# =============================================
# Expo (only if you still use expo modules)
# If no Expo: remove this block
# =============================================
.expo/
dist/
web-build/
expo-env.d.ts
